<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/style.css" />
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
    />
    <!-- font text -->
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/shopcart.css">
    <title>仓鼠共享衣橱</title>
</head>
<body>

<header class="header">
    <div class="container header__inner">
        <ul class="navbar">
            <!--等待更改链接-->
            <li class="navbar__item-1"><a href="/mainpage/dressed" target="_self">正装</a></li>
            <li class="navbar__item-2"><a href="/mainpage/weddingdress" target="_self">婚纱</a></li>
            <li class="navbar__item-3"><a href="/mainpage/hignend" target="_self">高端品牌</a></li>
            <li class="navbar__item-4"><a href="/mainpage/fastfashion" target="_self">快时尚品牌</a></li>
            <li class="navbar__item-5"><a href="/mainpage/shopcart">购物车</a></li>
            <li class="navbar__item-6"><a href="/mainpage/changeorder">修改订单</a></li>
            <li class="navbar__item-7"><a href="#">联系我们</a></li>
        </ul>
        <div class="searching-box">
            <input class="searching-input" type="text" placeholder="请输入搜索商品">
            <input class="searching-button" type="button" value="搜索"></input>
        </div>
        <div class="header__icon">
            <a href="profile"><i class="far fa-user"></i></a>
            <a href="/login"><i class="far fa-sign-out"></i> </a>
        </div>
    </div>
</header>

<section class = "middle">
    <form method="post">
        {% csrf_token %}
        <div class="whole-box">
            <div class="cart_box" cellpadding="0" cellspacing="0" border='0px'>
                <ul class="cart-list">
                    <li class="check" >
                        <!--<input type="checkbox" id="all"
                               style="margin-top: 20px; margin-left: 10px;width: 24px; height: 24px;">-->
                        是否勾选
                    </li>
                    <li class="pic" >商品缩略图</li>
                    <li class="name" >商品名称</li>
                    <li class="price">商品单价</li>
                    <li class="num" >商品数量</li>
                   <!--<th class="total" >商品小计</th>
                    <th class="operation">操作</th>-->
                </ul>
            </div>
                <div class="detail-box">
                {% if shopcart_list %}
                    {% for data in shopcart_list %}
                        <ul class="detail-list">
                            <li class="checking">{#name_1，name_2 #}
                                <input name="ifbuy_{{data.goods.goods_id}}" value="{{ data.if_buy }}" type="checkbox" checked="{{data.if_buy}}"
                                       style="margin-left: 60px; width: 18px; height: 18px;">
                            </li>
                            {#缩略图#}
                            <li class="picturing"><a href="#"><img src="{{ data.goods.pic_address }}"/></a></li>
                            {#商品名称#}
                            <li class="naming"><a href="#">{{ data.goods.goods_name }}</a></li>
                            {#单价#}
                            <li class="pricing">￥{{ data.goods.price }}元</li>
                            <li class="numbering">
                                {#商品数量#}
                                <input type="number" value="{{ data.goods_num }}" name="count_{{data.goods.goods_id}}" class="text1" style="width: 25px; height: 18px;"/>
                            </li>
                        </ul>
                    {% endfor %}
                {% else %}
                    <tr class="tips">
                        <td class="tips-text" colspan="6" style="text-align: center;">购物车空空如也~~，请快去购物吧！</td>
                    </tr>

                {% endif %}
                </div>
            </div>
        </div>

        <tr class="goon">
            <th class="order">
                <button class="order-btn" type="submit" >立即下单</button>
            </th>
        </tr>
    </form>
</section>

<section class="story">
    <div class="container story__inner">
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer__overlay">
        <div class="container footer__inner">
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="footer__title">Created by</p>
                    <ul class="link-list">
                      <li class="contact-list__item">安徽大学</li>
                      <li class="contact-list__item">计算机科学与技术学院</li>
                        <li class="contact-list__item">计算机科学与技术专业学生</li>
                        <li class="contact-list__item">戴铭洁、</li>
                        <li class="contact-list__item">王乐乐、</li>
                        <li class="contact-list__item">章悦</li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__title">Populer Tags</h2>
                    <ul class="link-list">
                        <li class="link-list__item"><a href="#">正装</a></li>
                        <li class="link-list__item"><a href="#">婚纱</a></li>
                        <li class="link-list__item"><a href="#">高端</a></li>
                        <li class="link-list__item"><a href="#">快时尚</a></li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__title">Contact-Us</h2>
                    <ul class="contact-list">
                        <li class="contact-list__item">
                            安徽大学磬苑校区
                        </li>
                        <li class="contact-list__item">(+86) 18815799331</li>
                        <li class="contact-list__item">mirabiliteee@gmail.com</li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__title">Rss</h2>
                    <div class="contact-box">
                        <p class="contact-box__title">订阅最新消息</p>
                        <input
                                class="contact-box__input"
                                type="text"
                                placeholder="Email"
                        />
                        <button class="contact-box__btn">确定订阅</button>
                    </div>
                </li>
            </ul>
            <p class="footer__last-text">
                2020 . All Rights Reserved Developed By 安徽大学 计算机科学与技术.
            </p>
        </div>
    </div>
</footer>

</body>


<script>
    function moveImg(list,index) {
        for(var i=0;i<list.length;i++){
            if(list[i].className=='opa-on'){//清除li的透明度样式
                list[i].className='';
            }
        }
        list[index].className='opa-on';
    }
    function moveIndex(list,num) {//移动小圆圈
        for (var i = 0; i < list.length; i++) {
            if (list[i].className == 'on') {//清除li的背景样式
                list[i].className = '';
            }
        }
        list[num].className = 'on';
    }
    var imgList=document.getElementById('img').getElementsByTagName('li');
    var list=document.getElementById('index').getElementsByTagName('li');
    var index=0;
    var timer;

    for(var i=0;i<list.length;i++){//鼠标覆盖上哪个小长方形，图片就移动到哪个小圆圈，并停止
        list[i].index=i;
        list[i].onmouseover= function () {

            var clickIndex=parseInt(this.index);
            index=clickIndex;

            moveImg(imgList,index);
            moveIndex(list,index);
            clearInterval(timer);
        };
        list[i].onmouseout= function () {//移开后继续轮播
            play();
        };

    }

    var nextMove=function(){
        index+=1;
        if(index>=3){
            index=0;
        }
        moveImg(imgList,index);
        moveIndex(list,index);
    };
    var play=function(){
        timer=setInterval(function(){
            nextMove();
        },3000);
    };
    play();
</script>

</html>