<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仓鼠共享衣橱</title>
    <link rel="stylesheet" href="../../static/register_success.css">
</head>
<body>
<video id="v1" autoplay loop muted>
    <source src="../../static/video/homepage-lead-video-001.mp4" type="video/mp4"  />
    <link type="text/css" rel="stylesheet" href="../../static/register_success.css">
</video>
    <div class="title">
        仓鼠共享衣橱
    </div>
    <div class="translucent_back"></div>
    <div class="main">
        <p>
            注册成功
        </p>
        <a href={% url 'login'  %}><input type = "button" value="立即登录" class="button"></a>
    </div>
</body>
</html>
